{
    "fromWhom": "",
    "mailgun": {
        "apiKey": "",
        "domain": ""
    },
    "targets": [
        {
            "url": "",
            "flag": "",
            "flagInError": false,
            "recipients": [],
            "timezone": "America/Los_Angeles"
        }
    ]
}